<!DOCTYPE html>
<html>
<head>
  <title>Application Error</title>
  <style>{% include "_legacy.css" %}</style>
</head>
<body>
<div class="pad">
<table class="l" width="100%"><tr><td class="hdr" style="background:#7a0000;">
  Application Error
</td></tr></table>
<div class="err">
  MRDN-5001: An unexpected application error occurred while retrieving the
  record. Reference this code when contacting support.
</div>
<p><font color="#7b8794" size="1">MeridianCore Servicing {{ t.product_version }}</font></p>
</div>
</body>
</html>
